
.maincontainer{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.childbox{
	order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.childboxNav{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    width: 50%;
}
.container{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    margin-top: 40px;
}

.nombreMuga{
    margin-top: 100px;
}


.Fotologo{
    border-radius: 50%;
    margin-top: 50px;
    width: auto;
    height: 70%;
    
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

}




.slider{
	order: 0;
    flex: 0 1 auto;
    align-self: auto;

    margin-top: 50px;
    box-shadow: 10px -10px 10px #888888;

}

.navigationBar {
	background-color: rgba(0,0,0,0.9);


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;

    position: fixed; 
    top: 0;
    border-bottom: none;
    z-index: 999;
    
    
    margin-right: 20px;
}


.contacto{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;


    min-height: 10%;
    background-color: rgba(0,0,0,0.9);
    color: white;
}

.contacto1{
    margin-left: 20px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.contacto2{
    margin-right: 20px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

}